default:
    formatters:
        pretty: true

    suites:
        acceptance:
            paths: ["%paths.base%/tests/Acceptance/features"]
            contexts:
                - DreadLabs\MediaTypeDecoding\Tests\Acceptance\FeatureContext
